<div id='total_contribution'>
   <%= @total_message %>: <%= @total_contributions.to_f/100 %>
   <table id="contributions_analysis">
     <caption>Summary of Contributions</caption>
     <tr> <th colspan=2>Contributors</th><th colspan=2 class="n_contrib">Contributions</th></tr>
     <tr> <th>Number</th><th>Type</th><th class="n_contrib">Number</th><th>Amount</th></tr>
       <% @contribution_mix.each do |portion| %>
        <tr>
          <td class="n_contrib">
             <% @contributor_counts.each do |contrib| %>
               <%=  contrib["number"] if contrib["kind"] == portion["kind"] %>
            <% end %>
           </td>
          <td><span class="contributor_kind"> <%= portion["kind"] %></span></td>
          <td class="n_contrib"><%= portion["number"] %> </td>
          <td><%= portion["total"].to_f/100 %> </td>
       </tr>
     <% end %>
    <tr>
      <td colspan=2> <img src="<%= @contributor_chart_url %>" /> </td>
      <td>           <img src="<%= @contribution_chart_url %>" /> </td>
      <td>           <img src="<%= @contribution_percent_chart_url %>" /> </td>
    </tr>
  </table>
</div>
