
<table class="contributionList">
  <caption>Breakout of all contributions made to  <%= @candidate.last %></caption>
  <tr>
    <th>Contributor</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Contribution type</th>
  </tr>
<% @contributions.each do |contribution| %>
  <tr>
    <td><%= link_to contribution["contributor"], :controller => "contributors", :action => "show", :id => contribution["contributor_id"] %></td>
    <td><%= contribution["date"] %></td>
    <td><%= link_to contribution["amount"], :controller => "contributions", :action => "show", :id => contribution["id"] %></td>
    <td><%= contribution["contribution_type"] %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit Candidate', edit_candidate_path(@candidate) %> |
<%= link_to 'Close', '', {:id => 'closeLink'} %>
