<h1>Listing candidates</h1>

<table>
  <tr>
    <th>Elected</th>
    <th>Year</th>
    <th>Last</th>
    <th>Suffix</th>
    <th>First</th>
    <th>Middle</th>
    <th>Party</th>
    <th>District</th>
    <th>Office</th>
    <th>Total Contributions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @candidates.each do |candidate| %>
  <tr>
    <td><%= (candidate.elected ? "Yes" : "No") %></td>
    <td><%= candidate.year %></td>
    <td><%= link_to candidate.last, candidate %></td>
    <td><%= candidate.suffix %></td>
    <td><%= candidate.first %></td>
    <td><%= candidate.middle %></td>
    <td><%= candidate.party %></td>
    <td><%= candidate.district %></td>
    <td><%= candidate.office %></td>
    <td><%= @contribution_amounts[candidate.id] %></td>
    <td><%= link_to 'Show', candidate %></td>
    <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
  </tr>
<% end %>
</table>


