<h1>Listing candidates</h1>

<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
    Search term:
    <%= text_field_tag :search, params[:search] %>
  <% end %>
  <%= submit_tag 'Search' %>
<% end %>

<table id="candidates">
  <tr>
    <th>Elected</th>
    <th>Year</th>
    <th class=<%= @last_header %> > <%= link_to "Last", {:controller => "candidates", :action => "index", :sort => 'last'}, :id =>'last_header' %> </th>
    <th>Suffix</th>
    <th>First</th>
    <th>Middle</th>
    <th class=<%= @party_header %> >    <%= link_to "Party",    {:controller => "candidates", :action => "index", :sort => 'party'}, :id =>'party_header' %> </th>
    <th class=<%= @district_header %> > <%= link_to "District", {:controller => "candidates", :action => "index", :sort => 'district'}, :id =>'district_header' %> </th>
    <th class=<%= @office_header %> >   <%= link_to "Office",   {:controller => "candidates", :action => "index", :sort => 'office'}, :id =>'office_header' %> </th>
    <th>Total Contributions</th>
    <th>Modify</th>
  </tr>

<% @candidates.each do |candidate| %>
  <tr>
    <td><%= (candidate.elected ? "Yes" : "No") %></td>
    <td><%= candidate.year %></td>
    <td><%= link_to candidate.last, candidate %></td>
    <td><%= candidate.suffix %></td>
    <td><%= candidate.first %></td>
    <td><%= candidate.middle %></td>
    <td><%= candidate.party %></td>
    <td><%= candidate.district %></td>
    <td><%= candidate.office %></td>
    <td><%= link_to  @contribution_amounts[candidate.id.to_s].to_f, {:controller => "candidates", :action => "show", :id => candidate.id}, :class => "list_contribs" %></td>
    <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
  </tr>
<% end %>
</table>
<div class="digg_pagination">
  <div class="page_info">
     <%= page_entries_info @candidates %>
  </div>
  <%= will_paginate @candidates, :container => false %>
</div>



