<h1>Listing candidates</h1>

<%= render "shared/total_contributions" %>

<div id="search">
<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
    Search term:
    <%= text_field_tag :search, params[:search] %>
  <% end %>
  <%= submit_tag 'Search' %>
  <%= button_tag 'Reset', :type => 'reset' %>
  <%= button_tag 'Clear All Search and Sort', :name => 'clear' %>
<% end %>
<div id="filter">
<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
   Restrict to elected officials
  <% end %>
  <% if @elected_checked %>
    <%= check_box_tag 'elected', '1', :checked => @elected_checked  %>
  <% else %>
    <%= check_box_tag 'elected', '1' %>
  <% end %>
  <%= submit_tag 'Filter' %>
<% end %>
</div>
</div>

<table id="candidates">
  <tr><th colspan=9></th><th colspan=3>Contributions</th> </tr>
  <tr>
    <th>Elected</th>
    <th>Year</th>
    <th class=<%= @last_header %> >     <%= link_to "Last",     {:controller => "candidates", :action => "index", :sort => 'last'}, :id =>'last_header' %> </th>
    <th>Suffix</th>
    <th>First</th>
    <th>Middle</th>
    <th class=<%= @party_header %> >    <%= link_to "Party",    {:controller => "candidates", :action => "index", :sort => 'party'}, :id =>'party_header' %> </th>
    <th class=<%= @district_header %> > <%= link_to "District", {:controller => "candidates", :action => "index", :sort => 'district'}, :id =>'district_header' %> </th>
    <th class=<%= @office_header %> >   <%= link_to "Office",   {:controller => "candidates", :action => "index", :sort => 'office'}, :id =>'office_header' %> </th>
    <th class=<%= @total_header %> >    <%= link_to "Total",    {:controller => "candidates", :action => "index", :sort => 'total'}, :id =>'total_header' %> </th>
    <th>No.</th>
    <th>by Company</th>
    <th>by Person</th>
  </tr>

<% @candidates.each do |candidate| %>
  <tr>
    <td><%= (candidate.elected ? "Yes" : "No") %></td>
    <td><%= candidate.year %></td>
    <td><%= link_to candidate.last, candidate %></td>
    <td><%= candidate.suffix %></td>
    <td><%= candidate.first %></td>
    <td><%= candidate.middle %></td>
    <td><%= candidate.party %></td>
    <td><%= candidate.district %></td>
    <td><%= candidate.office %></td>
    <td><%= link_to  (candidate.total.to_f / 100), {:controller => "candidates", :action => "show", :id => candidate.id}, :class => "list_contribs" %></td>
    <% data  = @contributor_mix.select { |item| item["id"].to_i ==  candidate.id.to_i } %>
    <td><%= data.nil? ? 0 : data[0]["total"] %>
    <td><%= data.nil? ? 0 : data[0]["company"].nil? ? 0 : data[0]["company"].to_f/100 %>
    <td><%= data.nil? ? 0 : data[0]["person"].nil? ? 0 : data[0]["person"].to_f/100 %>
  </tr>
<% end %>
</table>
<div class="digg_pagination">
  <div class="page_info">
     <%= page_entries_info @candidates %>
  </div>
  <%= will_paginate @candidates, :container => false %>
</div>



