<p id="notice"><%= notice %></p>

<p>
  <b>Elected:</b>
  <%= @candidate.elected %>
</p>

<p>
  <b>Year:</b>
  <%= @candidate.year %>
</p>

<p>
  <b>Last:</b>
  <%= @candidate.last %>
</p>

<p>
  <b>Suffix:</b>
  <%= @candidate.suffix %>
</p>

<p>
  <b>First:</b>
  <%= @candidate.first %>
</p>

<p>
  <b>Middle:</b>
  <%= @candidate.middle %>
</p>

<p>
  <b>Party:</b>
  <%= @candidate.party %>
</p>

<p>
  <b>District:</b>
  <%= @candidate.district %>
</p>

<p>
  <b>Office:</b>
  <%= @candidate.office %>
</p>

<p>
  <b>Total Contributions</b>
  <%= @contribution_total %>
</p>

<table>
  <tr>
    <th>Contributor</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Contribution type</th>
    <th></th>
  </tr>

<% @contributions.each do |contribution| %>
  <tr>
    <td><%= link_to contribution["contributor"], :controller => "contributors", :action => "show", :id => contribution["contributor_id"] %></td>
    <td><%= contribution["date"] %></td>
    <td><%= link_to contribution["amount"], :controller => "contributions", :action => "show", :id => contribution["id"] %></td>
    <td><%= contribution["contribution_type"] %></td>
    <td><%= link_to 'Show', :controller => "contributions", :action => "show", :id => contribution["id"] %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'List All Candidates', candidates_path %>
