<p id="notice"><%= notice %></p>
  <h2><%= "#{@candidate.first} #{@candidate.last}" %> </h2>
<ul>
<li>
  <b>Elected:</b>
  <%= (@candidate.elected ? "Yes" : "No") %>
</li>

<li>
  <b>Year:</b>
  <%= @candidate.year %>
</li>

<li>
  <b>Last:</b>
  <%= @candidate.last %>
</li>

<li>
  <b>Suffix:</b>
  <%= @candidate.suffix %>
</li>

<li>
  <b>First:</b>
  <%= @candidate.first %>
</li>

<li>
  <b>Middle:</b>
  <%= @candidate.middle %>
</li>

<li>
  <b>Party:</b>
  <%= @candidate.party %>
</li>

<li>
  <b>District:</b>
  <%= @candidate.district %>
</li>

<li>
  <b>Office:</b>
  <%= @candidate.office %>
</li>
</ul>

<h3>Contributions</h3>
<p>
  <b>Number of Contributors</b> <%= @contributions.length %> </br>
  <b>Company Contributions</b> <%= @company_contributions.to_f/100 %> </br>
  <b>Individual Contributions</b> <%= @personal_contributions.to_f/100 %> </br>
  <b>Total Contributions</b> <%= @contribution_total.to_f/100 %> </br>
</p>

  <h3>Contributors</h3>

<%= render 'list_contributions' %>



| <%= link_to 'List All Candidates', candidates_path %>
