<h1>Listing contributions</h1>

<%= render "shared/total_contributions" %>

<div id="search_contribution">
<%= form_tag request.path, :method => 'get', :id => 'search_contributions' do %>
  <%= content_tag :label do %>
    Search term:
    <%= text_field_tag :search, params[:search] %>
  <% end %>
  <%= submit_tag 'Search' %>
  <%= button_tag 'Reset', :type => 'reset' %>
  <%= button_tag 'Clear All Search and Sort', :name => 'clear' %>
<% end %>
  <% if @elected_checked %>
    Note: Display restricted to only elected officials,<br/>
    Unset on <%= link_to "Candidates Listing page", :controller => "candidates", :action => "index" %>.
  <% end %>
</div>


<table id="contributions">
  <tr>
    <th>Candidate</th>
    <th>Contributor</th>
    <th class=<% @date_header %>> <%= link_to "Date", :controller => "contributions", :action => "index", :sort => 'date' %></th>
    <th class=<% @amount_header %>><%= link_to "Amount", :controller => "contributions", :action => "index", :sort => 'amount' %></th>
    <th>Contribution type</th>
  </tr>

<% @contributions.each do |contribution| %>
  <tr <%=  'class=notelected' if contribution["elected"] != 't' %> >
    <td><%= link_to @contribution_data[contribution.id]["candidate"], :controller => "candidates", :action => "show", :id => contribution["candidate_id"] %></td>
    <td><%= link_to @contribution_data[contribution.id]["contributor"], :controller => "contributors", :action => "show", :id => contribution["contributor_id"] %></td>
    <td><%= contribution["date"] %></td>
    <td><%= link_to contribution["amount"].to_f / 100,  :controller => "contributions", :action => "show", :id => contribution["id"] %></td>
    <td><%= contribution["contribution_type"] %></td>
  </tr>
<% end %>
</table>

<div class="digg_pagination">
  <div class="page_info">
     <%= page_entries_info @contributors %>
  </div>
  <%= will_paginate @contributors, :container => false %>
</div>
