<h1>Listing contributors</h1>

<table>
  <tr>
    <th>Last</th>
    <th>Suffix</th>
    <th>First</th>
    <th>Middle</th>
    <th>Mailing</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Contributions</th>
    <th></th>
  </tr>

<% @contributors.each do |contributor| %>
  <tr>
    <td><%= link_to contributor.last, contributor %></td>
    <td><%= contributor.suffix %></td>
    <td><%= contributor.first %></td>
    <td><%= contributor.middle %></td>
    <td><%= contributor.mailing %></td>
    <td><%= contributor.city %></td>
    <td><%= contributor.state %></td>
    <td><%= contributor.zip %></td>
    <td><%= link_to  @contribution_amounts[contributor.id.to_s].to_f, {:controller => "contributors", :action => "show", :id => contributor.id}, :class => "list_contribs" %></td>
    <td><%= link_to 'Edit', edit_contributor_path(contributor) %></td>
  </tr>
<% end %>
</table>

