<p id="notice"><%= notice %></p>
<h2><%= "#{@contributor.first} #{@contributor.last}" %> </h2>
<ul>
<li>
  <b>Kind of contributor:</b>
  <%= @contributor.kind %>
</li>
<li>
  <b>Last:</b>
  <%= @contributor.last %>
</li>

<li>
  <b>Suffix:</b>
  <%= @contributor.suffix %>
</li>

<li>
  <b>First:</b>
  <%= @contributor.first %>
</li>

<li>
  <b>Middle:</b>
  <%= @contributor.middle %>
</li>

<li>
  <b>Mailing1:</b>
  <%= @contributor.mailing1%>
</li>
<li>
  <b>Mailing2:</b>
  <%= @contributor.mailing2 %>
</li>

<li>
  <b>City:</b>
  <%= @contributor.city %>
</li>

<li>
  <b>State:</b>
  <%= @contributor.state %>
</li>

<li>
  <b>Zip:</b>
  <%= @contributor.zip %>
</li>

  <li>
  <b>Country:</b>
  <%= @contributor.country %>
</li>

  </ul>
<p>
  <b>Total Contributions</b>
  <%= (@contribution_total) %>
</p>

<table>
  <tr>
    <th>Candidate</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Contribution type</th>
    <th></th>
  </tr>

<% @contributions.each do |contribution| %>
  <tr>
    <td><%= link_to contribution["candidate"], :controller => "candidates", :action => "show", :id => contribution["candidate_id"] %></td>
    <td><%= contribution["date"] %></td>
    <td><%= link_to (contribution["amount"].to_f / 100), :controller => "contributions", :action => "show", :id => contribution["id"] %></td>
    <td><%= contribution["contribution_type"] %></td>
    <td><%= link_to 'Show', :controller => "contributions", :action => "show", :id => contribution["id"] %></td>
  </tr>
<% end %>
</table>


<%= link_to 'List All Contributors', contributors_path %>
